<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choudhary's Articles</title>
    <link href="/style.css"rel="stylesheet"type="text/css">
</head>
<body>
        <h3><a href="/">Link to Start Page</a></h3>
        <h2>Choudhary's Articles/Form Solution</h1>
        <h3> Add new Article</h1>
        <form>
           <label>Title: </label> 
           <input type="text" name="title"><br>
           <br>
           <label>Content:</label><br>
           <br>
           <textarea id="content" name="content" rows="4" cols="16"></textarea><br>
           <br>
           <input type="submit" value="Add">
        </form>
        <p id="solution"></p>
        <script src="/ex3.js"></script>
    </body>
</html>



    
</body>
</html>